.DS_Store
figures/gamma_plot.png
results/production_restricted.jld2
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 1).fdb_latexmk
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 1).fls
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 1).log
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 1).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 2).fdb_latexmk
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 2).fls
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 2).log
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 2).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 3).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 4).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 5).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26 6).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26).fdb_latexmk
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26).fls
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26).log
notes/results_new (Joseph Mullins's conflicted copy 2023-05-26).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27 1).fdb_latexmk
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27 1).fls
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27 1).log
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27 1).pdf
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27).fdb_latexmk
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27).fls
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27).log
notes/results_new (Joseph Mullins's conflicted copy 2023-05-27).pdf
